html, body {
        padding:1em;
        margin:auto;
        max-width:60em;
        background:#fefefe;
	}
body {
	font: 1.3em "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #333;
	line-height: 1.4;
	text-align: justify;
	}
header, nav, article, footer {
	width: 700px;
	margin:0 auto;
	}
article {
	margin-top: 4em;
	margin-bottom: 4em;
	min-height: 400px;
	}
footer {
	margin-bottom:50px;
	}
video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	font-size: .9em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	}
nav p {
	margin: 0;
	}

/* Typography
-------------------------------------------------------- */

h1 {
	margin-top: 1em;
	font-weight: bold;
	}
h2 {
	font-weight: bold;
	}
h2.author {
	display: none;
	}
h4.link-back {
	font-weight: normal;
	text-align: right;
	}
h3 {
	font-weight: normal;
	font-style: italic;
	margin-top:3em;
	}
p {
	margin-top:0;
	-webkit-hypens:auto;
	-moz-hypens:auto;
	hyphens:auto;
	}
ul {
	list-style: square;
	padding-left:1.2em;
	}
ol {
	padding-left:1.2em;
	}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
	}
code {
	font-family: "Menlo", "Consolas", "Monaco", monospace, serif;
  background-color: #f0f0f0;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: .25em;
  padding-right: .25em;
	}
pre code {
  border: 0;
  padding: 0;
  margin: 0;
}
pre.python-traceback {
    color: #b50000;
}
a {
	color: #2484c1;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
a img {
	border:none;
	}
h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
	}
hr {
	color : #ddd;
	height : 1px;
	margin: 2em 0;
	border: solid 1px #ddd;
	}
table {
    border-collapse: collapse;
}
table, tr, td, th {
	border: solid 1px #ddd;
}
td, th {
	padding-left: 15px;
	padding-right: 15px;
}
p#heart{
	font-size: 2em;
	line-height: 1;
	text-align: center;
	color: #ccc;
	}
.red {
	color:#B50000;
	}

pre {
    padding: 16px;
    overflow: auto;
    background-color: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

span.header-section-number:after {
	content: ".";
}

span.toc-section-number:after {
	content: ".";
}

h1.title {
	font-size: 2.5em;
	background-size: 140px;
	text-align: left;
    background-repeat: no-repeat;
    margin-top: 0;
}

h1.title {
    min-height: 150px;
}

h4.subtitle {
    margin-top: .5em;
    margin-bottom: 2em;
}

a.anchorjs-link {
    color: #000000;
}

h1.title a.anchorjs-link, h2.author a.anchorjs-link, h4.subtitle a.anchorjs-link, h4.link-back a.anchorjs-link {
    display: none;
}

td.lineNumbers {
    width: 7%;
	font-family: "Menlo", "Consolas", "Monaco", monospace, serif;
    border: none;
    vertical-align: middle;
}

div.figure {
    text-align: center;
}

img[alt=fullwidth] { width: 100%; }
img[alt=halfwidth] { width: 45%; margin-left: auto; margin-right: auto;}

/*div#TOC, div#header {
	position: fixed;
	background-color: #FFFFFF;
	width: 100%;
}

div#TOC {
	margin-top: 200px;
}*/

/* Home Page
--------------------------- */

body#index li {
	margin-bottom: 1em;
	}


/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
	font-size: 120%;
	line-height: 1.4;
	}
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
	text-align: left;
	}
article, footer {
	width: auto;
	}
article {
	padding: 0 10px;
	}
} /* @iPhone */
